<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .container  {
            border: 1px solid black;
            min-height: 200px;
            display: grid;
        }
        .container div{
            width: 500px;
            height: 30px;
            border: 1px solid black;
            background-color: red;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="div"></div>
        <div class="div"></div>
        <div class="div"></div>
    </div>
</body>
</html>