<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/aos.css">
    <link rel="stylesheet" href="../static/css/base.css">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/slider.css">
    <link rel="stylesheet" href="../static/css/nav.css">
    <link rel="stylesheet" href="../static/css/home.css">
    <title>Shop</title>
</head>
<body>

    <!-- navigation bar start -->
    <section id="navigation-section" class="navigation-section container-fluid d-flex justify-content-between p-3 align-items-center">
        <div class="logo-div w-25">
            <img src="../img/logo.png" alt="">

            <div id="nav-open" class="d-none">
                <i class="fa-solid fa-bars"></i>
            </div>
        </div> 



        <div id="nav-bar-div" class="nav-bar-div d-flex w-75">

            <div id="nav-cls" class="d-none">
                <i class="fa-solid fa-xmark"></i>
            </div>


            <div class="nav-left d-flex justify-content-start w-75 ">
                
            
                <div class="nav-item ">
                    <a href="home.html">
                        Home
                    </a>
                </div>
    
                <div class="nav-item item-activ">
                    <a href="shop.html">
                        Shop now
                    </a>
                </div>
    
                <!-- <div class="nav-item nav-dropdown">
                    <a href="#">
                        Categories
                    </a>
                    <div class="drop-down-menu">
                        <div class="categories-div">Categroy1</div>
                        <div class="categories-div"> Categroy2 </div>
                    </div>
                </div> -->
    
                <div class="nav-item">
                    <a href="#">
                        About Us
                    </a>
                </div>
    
                <div class="nav-item">
                    <a href="#">
                        Blog
                    </a>
                </div>
    
                <div id="right-open-btn" class="d-none">
                    <i class="fa-solid fa-bars"></i>
                </div>
    
            </div>
            <div id="nav-right" class="nav-right d-flex justify-content-end w-25">
                <div id="right-cls-btn" class="d-none">
                    <i class="fa-solid fa-xmark"></i>
                </div>
                <div class="nav-item carts">
                    <a href="#">
                        Carts
                    </a>
                    <span class="text-white">5</span>
                </div>
                    
                <div class="nav-item">
                    <a href="#">
                        Login|Signup
                    </a>
                </div>
            </div>
        </div>

    </section>
    <!-- Navigation bar end -->
         

    <!-- slider section -->
    <section class="search-bar-section container-fluid">
    <div class="col-lg-6 col-md-6 col-sm-12 mx-auto">
        <div class="input-group">
            <input type="search" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
            <button type="button" class="btn btn-primary" data-mdb-ripple-init>search</button>
            </div>
    </div>
    </section><!--search-bar-section end-->
    <!-- slider end -->

    <!-- static bg -->
    <section class="static-bg-section">
        <img src="../img/slider-img/1.jpg" alt="">
        <div class="info d-flex justify-content-center text-center flex-column align-items-center">
            <h1 class="col-lg-10 col-md-10 col-sm-12">The best Leading ecommerce website for For Buy and Sell in global trade.</h1>
            <button>Learn More .. </button>
        </div><!--end info-->
    </section>
    <!-- end static bg -->



    <!-- Features Section -->
    <section class="features d-flex justify-content-around flex-wrap">
    <div class="col-lg-3 col-md-3 rounded features-div m-3 p-3">
        <i class="fa-solid fa-shop"></i>
        <h4> B2B &amp; B2C market place</h4>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis maiores 
            facilis officiis aut repellat omnis illo accusamus ad iure provident!
        </p>
    </div><!--end features-div-->

    <div class="col-lg-3 col-md-3 rounded features-div m-3 p-3">
        <i class="fa-solid fa-shield"></i>
        <h4> We provide best safety </h4>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis maiores 
            facilis officiis aut repellat omnis illo accusamus ad iure provident!
        </p>
    </div><!--end features-div-->

    <div class="col-lg-3 col-md-3 rounded features-div m-3 p-3">
        <i class="fa-solid fa-truck"></i>
        <h4> We provide fastest delivery</h4>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis maiores 
            facilis officiis aut repellat omnis illo accusamus ad iure provident!
        </p>
    </div><!--end features-div-->

    </section>
    <!-- End features section -->

    <!-- hero -->
    <section class="hero-section container-fluid my-5 row mx-auto">
        <div class="hero-text col-lg-7 col-md-7 d-flex align-items-center">
            <h1>
                Explore millions of offerings tailored to your business needs... <br>
                Discover your next business opportunity
            </h1>
            
        </div><!--hero text end-->

        <div class="hero-pro-info col-lg-5 col-md-5 d-flex flex-wrap">
            <div class="col-6 d-flex align-items-center">
                <p>
                    <span>200M+</span> <br>
                    products
                </p>
            </div>
            <div class="col-6 d-flex align-items-center">
                <p>
                    <span>200K+</span> <br>
                    suppliers
                </p>
            </div>
            <div class="col-6 d-flex align-items-center">
                <p>
                    <span>5,900+</span> <br>
                    product categories
                </p>
            </div>
            <div class="col-6 d-flex align-items-center">
                <p>
                    <span>200+</span> <br>
                    countries and regions
                </p>
            </div>
        </div>

    </section>
    <!-- end hero -->

        <!-- Offers -->
    <section class="offer-section container-fluid my-5 d-flex justify-content-between row mx-auto">

        <div class="col-lg-6 col-md-6 p-2">
            <div class="offer-details shadow-sm rounded col-12" >
                <img src="../img/offer-img-3.jpg" alt="">
                </div><!--offer-details-->
        </div>
        <div class="col-lg-6 col-md-6 p-2">
            <!-- slider start -->
            <section class="col-12 shadow-sm rounded d-flex justify-content-center align-items-center slider-section">
                <div class="left d-flex justify-content-center align-items-center"> <i class="fa-solid fa-chevron-left"></i> </div> <!--End Left-->
                <div class="right d-flex justify-content-center align-items-center"> <i class="fa-solid fa-chevron-right"></i> </div> <!--end right-->

                <div class="images slider">
                    <div class="img">
                        <img src="../img/slider-img/1.jpg" alt="">
                        <a href="#">
                            <button>See More...</button>
                        </a>
                    </div><!--end img-->

                    <div class="img">
                        <img src="../img/slider-img/2.jpg" alt="">
                        <a href="#">
                            <button>See More...</button>
                        </a>
                    </div><!--end img-->

                    <div class="img">
                        <img src="../img/slider-img/3.jpg" alt="">
                        <a href="#">
                            <button>See More...</button>
                        </a>
                    </div><!--end img-->

                    <div class="img">
                        <img src="../img/slider-img/4.jpg" alt="">
                        <a href="#">
                            <button>See More...</button>
                        </a>
                    </div><!--end img-->

                    <div class="img">
                        <img src="../img/slider-img/5.jpg" alt="">
                        <a href="#">
                            <button>See More...</button>
                        </a>
                    </div><!--end img-->

                    <div class="img">
                        <img src="../img/slider-img/6.jpg" alt="">
                        <a href="#">
                            <button>See More...</button>
                        </a>
                    </div><!--end img-->

                    <div class="img">
                        <img src="../img/slider-img/7.jpg" alt="">
                        <a href="#">
                            <button>See More...</button>
                        </a>
                    </div><!--end img-->

                    <div class="img">
                        <img src="../img/slider-img/8.jpg" alt="">
                        <a href="#">
                            <button>See More...</button>
                        </a>
                    </div><!--end img-->

                    <div class="img">
                        <img src="../img/slider-img/9.jpg" alt="">
                        <a href="#">
                            <button>See More...</button>
                        </a>
                    </div><!--end img-->

                    <div class="img">
                        <img src="../img/slider-img/10.jpg" alt="">
                        <a href="#">
                            <button>See More...</button>
                        </a>
                    </div><!--end img-->

                    <div class="img">
                        <img src="../img/slider-img/slider5.jpg" alt="">
                        <button>see more..</button>
                    </div><!--end img-->
                    
                </div><!--end images-->

                <div class="bottom d-flex justify-content-center align-items-center">
                </div><!--end bottom-->

            </section>
            <!-- slider end -->
        </div>
    </section>
    <!-- end offers -->

    <!-- top categories -->
    <section  class="top-categories-section container shadow-sm p-1 my-5 mx-auto row">
        <div class="categories-heading col-12 d-flex align-items-center mb-2">
            Top Categories
        </div><!--End categories heading-->

        <div class="category col-lg-2 col-md-2 p-2">
            <div class="img-div">
                <img src="../img/cat1.jpg" alt="">
            </div>
            <span>Wardrobe Organisers </span>
        </div><!--end category-->

        <div class="category col-lg-2 col-md-2 p-2">
            <div class="img-div">
                <img src="../img/cat2.jpg" alt="">
            </div>
            <span>Chino </span>
        </div><!--end category-->

        <div class="category col-lg-2 col-md-2 p-2">
            <div class="img-div">
                <img src="../img/cat3.jpg" alt="">
            </div>
            <span>Fashions</span>
        </div><!--end category-->

        <div class="category col-lg-2 col-md-2 p-2">
            <div class="img-div">
                <img src="../img/cat4.jpg" alt="">
            </div>
            <span>Shues </span>
        </div><!--end category-->

        <div class="category col-lg-2 col-md-2 p-2">
            <div class="img-div">
                <img src="../img/cat5.png" alt="">
            </div>
            <span>..... </span>
        </div><!--end category-->

        <div class="category col-lg-2 col-md-2 p-2">
            <div class="img-div">
                <img src="../img/cat6.jpg" alt="">
            </div>
            <span>Lightings </span>
        </div><!--end category-->

        <div class="category col-lg-2 col-md-2 p-2">
            <div class="img-div">
                <img src="../img/cat7.jpg" alt="">
            </div>
            <span>Mobile Exesories </span>
        </div><!--end category-->

        <div class="category col-lg-2 col-md-2 p-2">
            <div class="img-div">
                <img src="../img/cat8.jpg" alt="">
            </div>
            <span>Jewelry</span>
        </div><!--end category-->

        <div class="category col-lg-2 col-md-2 p-2">
            <div class="img-div">
                <img src="../img/cat9.jpg" alt="">
            </div>
            <span>Gadgets</span>
        </div><!--end category-->

        <div class="category col-lg-2 col-md-2 p-2">
            <div class="img-div">
                <img src="../img/cat10.jpg" alt="">
            </div>
            <span>Computer Gadgets</span>
        </div><!--end category-->

        <div class="category col-lg-2 col-md-2 p-2">
            <div class="img-div">
                <img src="../img/cat11.jpg" alt="">
            </div>
            <span>Watches</span>
        </div><!--end category-->

        <div class="category col-lg-2 col-md-2 p-2">
            <div class="img-div">
                <img src="../img/cat12.png" alt="">
            </div>
            <span>.... </span>
        </div><!--end category-->
        
        <div class="see-more col-12 my-3 p-2 text-end">
            <a href="#">See more...</a>
        </div><!--see-more end-->

    </section>
        <!-- top categories end -->


    <!-- Flash Sell -->
    <section  class="flash-sell-section container shadow-sm p-1 my-5 mx-auto row">
        <div class="flash-sell-heading col-12  d-flex align-items-center mb-2">
            <div class="col-lg-6 col-md-6 col-sm-6">Flash Sell</div>
            <div class="col-lg-6 col-md-6 col-sm-6 text-end"> End on: 31-Aug-2024 </div>
        </div><!--End flash-sell heading-->

        <div class="flash-sell-product col-lg-2 col-md-3 col-sm-3 p-2">
            <div class="img-div">
                <img src="../img/product-img/pro-6.webp" alt="">
            </div>
            <div class="pro-details">
                <div class="pro-name">
                    Product name
                </div><!--end pro-name-->
                <div class="pro-brand">
                    Brand
                </div><!--end pro-brand-->
                <div class="pro-price">
                    &#2547; <span >399</span>199
                </div><!--end pro-price-->
            </div><!--end pro-details-->
            
        </div><!--end flash-sell-product-->

        <div class="flash-sell-product col-lg-2 col-md-3 col-sm-3 p-2">
            <div class="img-div">
                <img src="../img/product-img/pro-1.webp" alt="">
            </div>
            <div class="pro-details">
                <div class="pro-name">
                    Product name
                </div><!--end pro-name-->
                <div class="pro-brand">
                    Brand
                </div><!--end pro-brand-->
                <div class="pro-price">
                    &#2547; <span >399</span>199
                </div><!--end pro-price-->
            </div><!--end pro-details-->
        </div><!--end flash-sell-product-->

        <div class="flash-sell-product col-lg-2 col-md-3 col-sm-3 p-2">
            <div class="img-div">
                <img src="../img/product-img/pro-2.webp" alt="">
            </div>
            <div class="pro-details">
                <div class="pro-name">
                    Product name
                </div><!--end pro-name-->
                <div class="pro-brand">
                    Brand
                </div><!--end pro-brand-->
                <div class="pro-price">
                    &#2547; <span >399</span>199
                </div><!--end pro-price-->
            </div><!--end pro-details-->
        </div><!--end flash-sell-product-->

        <div class="flash-sell-product col-lg-2 col-md-3 col-sm-3 p-2">
            <div class="img-div">
                <img src="../img/product-img/pro-3.webp" alt="">
            </div>
            <div class="pro-details">
                <div class="pro-name">
                    Product name
                </div><!--end pro-name-->
                <div class="pro-brand">
                    Brand
                </div><!--end pro-brand-->
                <div class="pro-price">
                    &#2547; <span >399</span>199
                </div><!--end pro-price-->
            </div><!--end pro-details-->
        </div><!--end flash-sell-product-->

        <div class="flash-sell-product col-lg-2 col-md-3 col-sm-3 p-2">
            <div class="img-div">
                <img src="../img/product-img/pro-4.webp" alt="">
            </div>
            <div class="pro-details">
                <div class="pro-name">
                    Product name
                </div><!--end pro-name-->
                <div class="pro-brand">
                    Brand
                </div><!--end pro-brand-->
                <div class="pro-price">
                    &#2547; <span >399</span>199
                </div><!--end pro-price-->
            </div><!--end pro-details-->
        </div><!--end flash-sell-product-->

        <div class="flash-sell-product col-lg-2 col-md-3 col-sm-3 p-2">
            <div class="img-div">
                <img src="../img/product-img/pro-5.webp" alt="">
            </div>
            <div class="pro-details">
                <div class="pro-name">
                    Product name
                </div><!--end pro-name-->
                <div class="pro-brand">
                    Brand
                </div><!--end pro-brand-->
                <div class="pro-price">
                    &#2547; <span >399</span>199
                </div><!--end pro-price-->
            </div><!--end pro-details-->
        </div><!--end flash-sell-product-->
        
        <div class="see-more col-12 my-3 p-2 text-end">
            <a href="#">See more...</a>
        </div><!--see-more end-->

    </section>
    <!-- Flash Sell end -->

    <!-- new arrivals opportunity -->
    <section  class="flash-sell-section container shadow-sm p-1 my-5 mx-auto row">
        <div class="flash-sell-heading col-12  d-flex align-items-center mb-2">
            <div class="col-lg-6 col-md-6 col-sm-6">New Arrivals</div>
            <div class="col-lg-6 col-md-6 col-sm-6 text-end"> 20000+ New Arrival Products </div>
        </div><!--End flash-sell heading-->

        <div class="flash-sell-product col-lg-2 col-md-3 col-sm-3 p-2">
            <div class="img-div">
                <img src="../img/product-img/pro-6.webp" alt="">
            </div>
            <div class="pro-details">
                <div class="pro-name">
                    Product name
                </div><!--end pro-name-->
                <div class="pro-brand">
                    Brand
                </div><!--end pro-brand-->
                <div class="pro-price">
                    &#2547; <span >399</span>199
                </div><!--end pro-price-->
            </div><!--end pro-details-->
            
        </div><!--end flash-sell-product-->

        <div class="flash-sell-product col-lg-2 col-md-3 col-sm-3 p-2">
            <div class="img-div">
                <img src="../img/product-img/pro-1.webp" alt="">
            </div>
            <div class="pro-details">
                <div class="pro-name">
                    Product name
                </div><!--end pro-name-->
                <div class="pro-brand">
                    Brand
                </div><!--end pro-brand-->
                <div class="pro-price">
                    &#2547; <span >399</span>199
                </div><!--end pro-price-->
            </div><!--end pro-details-->
        </div><!--end flash-sell-product-->

        <div class="flash-sell-product col-lg-2 col-md-3 col-sm-3 p-2">
            <div class="img-div">
                <img src="../img/product-img/pro-2.webp" alt="">
            </div>
            <div class="pro-details">
                <div class="pro-name">
                    Product name
                </div><!--end pro-name-->
                <div class="pro-brand">
                    Brand
                </div><!--end pro-brand-->
                <div class="pro-price">
                    &#2547; <span >399</span>199
                </div><!--end pro-price-->
            </div><!--end pro-details-->
        </div><!--end flash-sell-product-->

        <div class="flash-sell-product col-lg-2 col-md-3 col-sm-3 p-2">
            <div class="img-div">
                <img src="../img/product-img/pro-3.webp" alt="">
            </div>
            <div class="pro-details">
                <div class="pro-name">
                    Product name
                </div><!--end pro-name-->
                <div class="pro-brand">
                    Brand
                </div><!--end pro-brand-->
                <div class="pro-price">
                    &#2547; <span >399</span>199
                </div><!--end pro-price-->
            </div><!--end pro-details-->
        </div><!--end flash-sell-product-->

        <div class="flash-sell-product col-lg-2 col-md-3 col-sm-3 p-2">
            <div class="img-div">
                <img src="../img/product-img/pro-4.webp" alt="">
            </div>
            <div class="pro-details">
                <div class="pro-name">
                    Product name
                </div><!--end pro-name-->
                <div class="pro-brand">
                    Brand
                </div><!--end pro-brand-->
                <div class="pro-price">
                    &#2547; <span >399</span>199
                </div><!--end pro-price-->
            </div><!--end pro-details-->
        </div><!--end flash-sell-product-->

        <div class="flash-sell-product col-lg-2 col-md-3 col-sm-3 p-2">
            <div class="img-div">
                <img src="../img/product-img/pro-5.webp" alt="">
            </div>
            <div class="pro-details">
                <div class="pro-name">
                    Product name
                </div><!--end pro-name-->
                <div class="pro-brand">
                    Brand
                </div><!--end pro-brand-->
                <div class="pro-price">
                    &#2547; <span >399</span>199
                </div><!--end pro-price-->
            </div><!--end pro-details-->
        </div><!--end flash-sell-product-->

        <div class="flash-sell-product col-lg-2 col-md-3 col-sm-3 p-2">
            <div class="img-div">
                <img src="../img/product-img/pro-6.webp" alt="">
            </div>
            <div class="pro-details">
                <div class="pro-name">
                    Product name
                </div><!--end pro-name-->
                <div class="pro-brand">
                    Brand
                </div><!--end pro-brand-->
                <div class="pro-price">
                    &#2547; <span >399</span>199
                </div><!--end pro-price-->
            </div><!--end pro-details-->
            
        </div><!--end flash-sell-product-->

        <div class="flash-sell-product col-lg-2 col-md-3 col-sm-3 p-2">
            <div class="img-div">
                <img src="../img/product-img/pro-1.webp" alt="">
            </div>
            <div class="pro-details">
                <div class="pro-name">
                    Product name
                </div><!--end pro-name-->
                <div class="pro-brand">
                    Brand
                </div><!--end pro-brand-->
                <div class="pro-price">
                    &#2547; <span >399</span>199
                </div><!--end pro-price-->
            </div><!--end pro-details-->
        </div><!--end flash-sell-product-->

        <div class="flash-sell-product col-lg-2 col-md-3 col-sm-3 p-2">
            <div class="img-div">
                <img src="../img/product-img/pro-2.webp" alt="">
            </div>
            <div class="pro-details">
                <div class="pro-name">
                    Product name
                </div><!--end pro-name-->
                <div class="pro-brand">
                    Brand
                </div><!--end pro-brand-->
                <div class="pro-price">
                    &#2547; <span >399</span>199
                </div><!--end pro-price-->
            </div><!--end pro-details-->
        </div><!--end flash-sell-product-->

        <div class="flash-sell-product col-lg-2 col-md-3 col-sm-3 p-2">
            <div class="img-div">
                <img src="../img/product-img/pro-3.webp" alt="">
            </div>
            <div class="pro-details">
                <div class="pro-name">
                    Product name
                </div><!--end pro-name-->
                <div class="pro-brand">
                    Brand
                </div><!--end pro-brand-->
                <div class="pro-price">
                    &#2547; <span >399</span>199
                </div><!--end pro-price-->
            </div><!--end pro-details-->
        </div><!--end flash-sell-product-->

        <div class="flash-sell-product col-lg-2 col-md-3 col-sm-3 p-2">
            <div class="img-div">
                <img src="../img/product-img/pro-4.webp" alt="">
            </div>
            <div class="pro-details">
                <div class="pro-name">
                    Product name
                </div><!--end pro-name-->
                <div class="pro-brand">
                    Brand
                </div><!--end pro-brand-->
                <div class="pro-price">
                    &#2547; <span >399</span>199
                </div><!--end pro-price-->
            </div><!--end pro-details-->
        </div><!--end flash-sell-product-->

        <div class="flash-sell-product col-lg-2 col-md-3 col-sm-3 p-2">
            <div class="img-div">
                <img src="../img/product-img/pro-5.webp" alt="">
            </div>
            <div class="pro-details">
                <div class="pro-name">
                    Product name
                </div><!--end pro-name-->
                <div class="pro-brand">
                    Brand
                </div><!--end pro-brand-->
                <div class="pro-price">
                    &#2547; <span >399</span>199
                </div><!--end pro-price-->
            </div><!--end pro-details-->
        </div><!--end flash-sell-product-->
        
        <div class="see-more col-12 my-3 p-2 text-end">
            <a href="#">See more...</a>
        </div><!--see-more end-->

    </section>
    <!-- New arrivals end -->

    <!-- top comments section -->
     
    <!-- top comments end -->

    <!-- Footer section -->
    <footer class="footer mt-5 conatiner-fluid row mx-auto p-2">
        <div class="col-lg-3 col-md-3 col-sm-12 my-2">
            <div class="footer-heading">Get support</div>
            <div>
                <a href="#">
                    Help Center
                </a>
            </div>

            <div>
                <a href="#">
                    Live chat
                </a>
            </div>
            
            <div>
                <a href="#">
                    Check order status
                </a>
            </div>

            <div>
                <a href="#">
                    Refunds
                </a>
            </div>

            <div>
                <a href="#">
                    Report abuse
                </a>
            </div>
        </div> <!--footer links end-->

        <div class="col-lg-3 col-md-3 col-sm-12 my-2">
            <div class="footer-heading">Trade Assurance</div>
            <div>
                <a href="#">
                    Safe and easy payments
                </a>
            </div>

            <div>
                <a href="#">
                    Money-back policy
                </a>
            </div>
            
            <div>
                <a href="#">
                    On-time shipping
                </a>
            </div>

            <div>
                <a href="#">
                    After-sales protections
                </a>
            </div>

            <div>
                <a href="#">
                    Product monitoring services
                </a>
            </div>
        </div> <!--footer links end-->

        <div class="col-lg-3 col-md-3 col-sm-12 my-2">
            <div class="footer-heading">Source on mtashop.com</div>
            <div>
                <a href="#">
                    Request for Quotation
                </a>
            </div>

            <div>
                <a href="#">
                    Membership program
                </a>
            </div>
            
            <div>
                <a href="#">
                    Alibaba.com Logistics
                </a>
            </div>

            <div>
                <a href="#">
                    Sales tax and VAT
                </a>
            </div>

            <div>
                <a href="#">
                    mtashop.com Reads
                </a>
            </div>
        </div> <!--footer links end-->

        <div class="col-lg-3 col-md-3 col-sm-12 my-2">
            <div class="footer-heading">Get to know us</div>
            <div>
                <a href="#">
                    About Alibaba.com
                </a>
            </div>

            <div>
                <a href="#">
                    Corporate responsibility
                </a>
            </div>
            
            <div>
                <a href="#">
                    News center
                </a>
            </div>

            <div>
                <a href="#">
                    Careers
                </a>
            </div>
        </div> <!--footer links end-->

        <div class="quick-links-section col-12 row mx-auto">
            <div class="social-links col-lg-6 col-md-6 col-sm-12 my-2 p-3 d-flex justify-content-start align-items-center">
                <a href="#">
                    <i class="fa-brands fa-facebook"></i>
                </a>

                <a href="#">
                    <i class="fa-brands fa-instagram"></i>
                </a>

                <a href="#">
                    <i class="fa-brands fa-x-twitter"></i>
                </a>

                <a href="#">
                    <i class="fa-brands fa-linkedin"></i>
                </a>

                <a href="#">
                    <i class="fa-brands fa-youtube"></i>
                </a>

            </div> <!--quick links end-->

            <div class="store-link col-lg-6 col-md-6 col-sm-12 my-2 p-3 d-flex justify-content-end align-items-center">
                <div class="store-link-img">
                    <a href="#">
                        <img src="../img/playstore.avif" alt="">
                    </a>
                </div>

                <div class="store-link-img">
                    <a href="#">
                        <img src="../img/appstore.avif" alt="">
                    </a>
                </div>

            </div> <!--store link end-->
        </div>  <!--store link end-->
        
    </footer>
    <!-- footer section end -->

    <!-- Copyright section -->
    <div class="copyright w-100 bg-dark p-3 text-white d-flex justify-content-center align-items-center">
        &copy;  MTA SHOP 2024 | Designed &amp; Developed by - <a style="color: blue;" href="https://www.facebook.com/titanvir01" target="_blank">Tanvir Islam</a>
    </div>
    <!-- copyright section end -->

    

<script src="../static/js/aos.js"></script>
<script src="../static/js/bootstrap.bundle.min.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
<script src="../static/js/popper.min.js"></script>
<script src="../static/js/app.js"></script>
<script src="../static/js/nav.js"></script>
<script src="../static/js/slider.js"></script>
</body>
</html>